<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Business_Logic.Properties.Settings.VismaConnection"
            connectionString="Data Source=MARCUSCARLS46D5;Initial Catalog=F0001test;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>