<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="domainAD" value="itm.local" />
    <add key="tempAdmin" value="admin" />
    <add key="tempPass" value="pass" />
    <add key="InternOrder" value="IT-Mästaren Mitt AB???2000" />
    <add key="DBServer" value="ITM-MICISH\\SQLEXPRESS" />
    <add key="DBDatabaseName" value="F0001" />
    <add key="DBUserId" value="storagedbuser" />
    <add key="DBPassword" value="abc123" />
    <add key="smtpServer" value="smtp.itmastaren.net" />
    <add key="smtpPort" value="25" />
    <add key="smtpSSL" value="False" />
    <add key="mailFrom" value="drift@itmastaren.se" />
    <add key="smtpUserName" value="" />
    <add key="smtpPassword" value="" />
    <add key="Debit72" value="1,12" />
    <add key="EjDebit72" value="9,11,1,2,14,5,4,7,8,3,13,10,6" />
    <add key="memberAdmin" value="" />
    <add key="adminLoginPage" value="~/Adminlogin.aspx" />
    <add key="adminPage" value="~/Administrator/AdminPage.aspx" />
    <add key="memberDefault" value="Domain Users" />
    <add key="loginPage" value="~/Login.aspx" />
    <add key="userPage" value="~/User/Start.aspx" />
    <add key="pcUserPage" value="~/User/PcStart.aspx" />
    <add key="timePage" value="~/webbtid.aspx" />
    <add key="yearLifeOfTheCookie" value="1" />
    <add key="configPath" value="~/Web.config" />
    <add key="appSet" value="/configuration/appSettings" />
    <add key="activityCode" value="72" />
    <add key="orderFakturaCode" value="48" />
    <add key="taxaCode" value="73" />
    <add key="memoPath" value="\\itm-micish\c$\testar" />
    <add key="r1" value="Locale" />
    <add key="r2" value="" />
    <add key="r3" value="" />
    <add key="r4" value="" />
    <add key="r5" value="Contract" />
    <add key="r6" value="" />
    <add key="r7" value="" />
    <add key="r8" value="Service" />
    <add key="r9" value="Project" />
    <add key="r10" value="" />
    <add key="r11" value="" />
    <add key="r12" value="" />
    <add key="prodprgr" value="Debit" />
    <add key="prodprg2" value="Utlagg" />
    <add key="prodprg3" value="Activity" />
    <add key="custprgr" value="Price1" />
    <add key="custprg2" value="Price2" />
    <add key="custprg3" value="Price3" />
    <add key="debiteraCode" value="0" />
    <add key="debitEjCode" value="1" />
    <add key="adwageTrue" value="1" />
    <add key="adwageFalse" value="0" />
    <add key="normalPriActivity" value="0" />
    <add key="otherPriActivity" value="5" />
    <add key="normalCacsetActivity" value="11" />
    <add key="otherCacsetActivity" value="0" />
    <add key="invoUtl" value="1" />
    <add key="invoReg" value="2065" />
    <add key="Fin" value="1" />
    <add key="lang" value="752" />
    <add key="Arbetadtidmotkund" value="010,062,100,121,150,200,300,400,510,900,901" />
    <add key="loginAttempt" value="3" />
    <add key="Internamöten" value="100,121" />
  </appSettings>
  <connectionStrings>
    <add name="VismaEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCUSCARLS46D5;initial catalog=F0001test;user id=sa;password=Admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmallVismaDatabase" connectionString="Data Source=MARCUSCARLS46D5;Initial Catalog=SmallVismaDatabase;User ID=sa;Password=Admin123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
 <httpProtocol>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>